.catalog {
  background-color: white;
  height: 100%;
  padding-bottom: 60px;
 position: relative;
    z-index: 9999;
}

.catalog-content {
  width: 1500px;
  margin: 0 auto;
  padding-top: 40px;
}

.catalog-content h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.catalog-content__grid-container {
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 100px;
  justify-content: center;
}

.catalog__grid-item img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
padding-top:-20px;
}

.catalog__grid-item h2 {
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.catalog__grid-item h3 {
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #313131;
  font-weight: 600;
}

.catalog__grid-item__icons {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.catalog__grid-item__icons p {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  color: #8E8E8E;
  font-weight: 400;
}

.catalog__icons-places,
.catalog__icons-type,
.catalog__icons-benzin {
  display: flex;
  align-items: center;
}

.catalog__icons-places img,
.catalog__icons-benzin img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.catalog__icons-type img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.catalog__button-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
}

.catalog__button-img button {
  width: 220px;
  height: 44px;
  font-size: 17px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 1px 1px 10px rgba(241, 67, 12, 1);
  color: white;
  cursor: pointer;
}

.catalog__button-img button:hover {
  filter: brightness(0.9);
}

.catalog__button-img button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.catalog__button-img img {
  width: 58px;
  height: 25px;
  margin-right: 2px;
}

.catalog__pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.catalog__pagination p {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: #313131;
  font-size: 20px;
  font-weight: 500;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.catalog__pagination p.active {
  background-color: #fd5d27;
  color: white;
}

.catalog__pagination p:hover {
  background-color: #ee3c00;
  color: white;
}

.delete-button__admin {
  background: none;
  border: none;
  cursor: pointer;
  color: #cb2d00;
  font-size: 14px;
  margin-left: 10px;
  padding-top: 5px;
  cursor: pointer;
}

.delete-button__admin:hover {
  filter: brightness(0.9);
}

.delete-button__admin:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.catalog__empty {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  color: #cb2d00;
}

.catalog-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.catalog-modal--open {
  display: flex;
}

.catalog-modal__content {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 70%;
  max-width: 900px;
  max-height: 95vh;
  overflow-y: auto;
}

.catalog-modal__content h2 {
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0;
  color: #313131;
}

.catalog-modal__content p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: #313131;
}

.catalog-close-button {
  position: absolute;
  top: 6px;
  right: 15px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #c7c5c5;
}

.modal-input-group__catalog input,
.modal-input-group__catalog select {
  width: 70%;
  height: 40px;
  margin-bottom: 25px;
  border: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
  padding-left: 20px;
}

.modal-input-group__catalog input::placeholder,
.modal-input-group__catalog select {
  color: #C1C1C1;
  font-size: 17px;
}

.modal-input-group__two__catalog button {
  margin: 5px auto 20px;
  width: 70%;
  height: 44px;
  font-size: 17px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 0px 4px 8px rgba(241, 67, 12, 1);
  color: white;
  cursor: pointer;
}

.modal-input-group__two__catalog button:hover {
  filter: brightness(0.9);
}

.modal-input-group__two__catalog button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input-error select,
.input-error input {
  border: 2px solid red !important;
}

.error-message {
  color: red;
}

.catalog-thankyou-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.catalog-thankyou-modal--open {
  display: flex;
}

.catalog-thankyou-modal__content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 900px;
  max-height: 95vh;
  overflow-y: auto;
  text-align: left;
}

.catalog-thankyou-modal__content img {
  border-radius: 8px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-width: 700px;
}

.catalog-thankyou-modal__content h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  color: #313131;
  text-align: center;
}

.catalog__log-number {
  margin: 5px 0 20px;
  font-size: 20px;
  padding-left: 37px;
  color: #8E8E8E;
}

.catalog__characteristics p {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  color: #313131;
  text-align: left;
  padding-left: 37px;
}

.heroSection-catalog {
  font-weight: 600;
  margin-right: 5px;
}

.catalog__characteristics h4 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
  color: #313131;
  font-family: "Montserrat", sans-serif;
  padding-left: 37px;
}

.catalog__characteristicsTwo,
.catalog__characteristicsThree {
  margin-top: 35px;
}

.catalog-thankyou-modal__content-button {
  text-align: center;
  margin-top: 40px;
}

.catalog-thankyou-modal__content-button button {
  width: 100%;
  max-width: 300px;
  height: 44px;
  font-size: 17px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 0px 4px 8px rgba(241, 67, 12, 1);
  color: white;
  cursor: pointer;
  margin: 5px auto;
}

.catalog-thankyou-modal__content-button button:hover {
  filter: brightness(0.9);
}

.catalog-thankyou-modal__content-button button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1550px) {
  .catalog-content {
    max-width: 1300px;
    padding-top: 20px;
  }

  .catalog-content h1 {
    font-size: 45px;
    margin-bottom: 40px;
  }

  .catalog-content__grid-container {
    max-width: 1300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 26px;
  }

  .catalog__grid-item__icons p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1320px) {
  .catalog-content {
    max-width: 1000px;
    padding-top: 20px;
  }

  .catalog-content h1 {
    font-size: 45px;
    margin-bottom: 40px;
  }

  .catalog-content__grid-container {
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 28px;
  }

  .catalog__grid-item__icons p {
    font-size: 19px;
  }
}

@media screen and (max-width: 1070px) {
  .catalog-content {
    max-width: 750px;
    padding-top: 20px;
  }

  .catalog-content h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .catalog__button-img button {
    width: 200px;
    height: 40px;
  }

  .catalog-content__grid-container {
    max-width: 750px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .catalog__grid-item__main-img {
    height: 210px !important;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 22px;
  }

  .catalog__grid-item__icons p {
    font-size: 14px;
  }

  .fullscreen-image-container {
    max-width: 700px;
    height: 400px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .modal-input-group__catalog input,
  .modal-input-group__catalog select {
    width: 100%;
  }

  .modal-input-group__two__catalog button {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .catalog-content {
    width: 100%;
    padding-top: 20px;
  }

  .catalog__button-img button {
    width: 250px;
    height: 40px;
  }

  .catalog-content h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .catalog__grid-item__main-img {
    height: 400px !important;
    border-radius: 8px;
  }

  .catalog-content__grid-container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 30px;
  }

  .catalog__grid-item__icons p {
    font-size: 20px;
  }

  .fullscreen-image-container {
    max-width: 600px;
    height: 350px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 600px) {
  .fullscreen-image-container {
    max-width: 500px;
    height: 300px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalog__grid-item__main-img {
    height: 300px !important;
    border-radius: 8px;
  }
}

@media screen and (max-width: 550px) {
  .catalog-content {
    padding-top: 10px;
  }

  .catalog__grid-item__main-img {
    height: 300px !important;
    border-radius: 8px;
  }

  .catalog-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .catalog-content__grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 23px;
  }

  .catalog__grid-item__icons p {
    font-size: 16px;
  }

  .fullscreen-image-container {
    max-width: 400px;
    height: 250px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalog-modal__content {
    width: 100%;
    max-width: 500px;
  }

  .catalog-modal__content h2 {
    font-size: 25px;
  }

  .catalog-modal__content p {
    font-size: 17px;
  }

  .modal-input-group__catalog input::placeholder,
  .modal-input-group__catalog select {
    font-size: 16px;
  }

  .modal-input-group__two__catalog button {
    width: 100%;
  }

  .catalog-thankyou-modal__content-button button {
    width: 100%;
  }

  .catalog__characteristics h4 {
    font-size: 25px;
  }

  .catalog__characteristics p1 {
    font-size: 19px;
  }

  .catalog__log-number {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 500px) {
  .fullscreen-image-container {
    max-width: 400px;
    height: 250px;
  }

  .catalog__grid-item__main-img {
    height: 250px !important;
    border-radius: 8px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalog-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 23px;
  }

  .catalog__grid-item__icons p {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  .fullscreen-image-container {
    max-width: 350px;
    height: 250px;
  }

  .catalog__grid-item__main-img {
    height: 220px !important;
    border-radius: 8px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalog-content h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 19px;
  }

  .catalog__grid-item__icons p {
    font-size: 14px;
  }

  .catalog__icons-places img,
  .catalog__icons-benzin img {
    width: 25px;
    height: 25px;
  }

  .catalog__icons-type img {
    width: 45px;
    height: 45px;
  }

  .catalog__button-img img {
    width: 40px;
    height: 20px;
  }

  .catalog__button-img button {
    width: 180px;
    height: 35px;
    font-size: 15px;
  }

  .catalog__log-number {
    font-size: 15px;
  }

  .catalog__characteristics h4 {
    font-size: 20px;
  }

  .catalog__characteristics p1 {
    font-size: 17px;
  }

  .catalog-thankyou-modal__content h2 {
    font-size: 25px;
  }

  .catalog-thankyou-modal__content-button button {
    width: 100%;
    font-size: 15px;
  }

  .catalog-thankyou-modal__content-button {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .fullscreen-image-container {
    max-width: 300px;
    height: 200px;
  }

  .catalog__grid-item__main-img {
    height: 200px !important;
    border-radius: 8px;
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .catalog-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .catalog__button-img img {
    width: 45px;
  }

  .catalog__grid-item h2,
  .catalog__grid-item h3 {
    font-size: 23px;
  }

  .catalog__grid-item__icons p {
    font-size: 16px;
  }

  .catalog-modal__content {
    width: 100%;
    max-width: 500px;
  }

  .catalog-modal__content h2 {
    font-size: 25px;
  }

  .catalog-modal__content p {
    font-size: 17px;
  }

  .modal-input-group__catalog input::placeholder,
  .modal-input-group__catalog select {
    font-size: 16px;
  }

  .modal-input-group__two__catalog button {
    width: 100%;
  }

  .catalog__characteristics h4 {
    font-size: 20px;
  }

  .catalog__characteristics p1 {
    font-size: 17px;
  }

  .catalog__log-number {
    font-size: 15px !important;
  }
}

