.catalog{
background-color:white;
height: 100%;
padding-bottom: 60px;
}
.catalog-modal__content img {
  width: 100%;
  height: auto;
  max-width: 900px;
  max-height: 500px;
  object-fit: cover;
}
.catalog-content{
width: 1500px;
margin: 0 auto;
padding-top: 40px;
}
.catalog-content h1{
font-size: 50px;
font-weight: 500;
margin-bottom: 40px;
text-align: center;
}

.catalog-content__grid-container {
width: 1500px;
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: repeat(2, 1fr);
column-gap: 50px; 
row-gap: 100px;
justify-content: center;
}

.catalog__grid-item img {
width: 100%;
height: auto; 
border-radius:8px;
max-width: 900px;
max-height: 500px;
}
.catalog__grid-item h2{
font-family: "poppins", sans-serif;
font-size: 30px;
font-weight: 500;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 10px;
padding-right: 10px;
 }

 .catalog__grid-item h3{
    font-family: "poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color:#313131;
    font-weight:600;
     }
    
    
.catalog__grid-item__icons{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 20px;

}

.catalog__grid-item__icons p {
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    color: #8E8E8E;
    font-weight: 400;
}
.catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
    display: flex;
    align-items: center;
}
.catalog__icons-places img,  .catalog__icons-benzin img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.catalog__icons-type img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.catalog__button-img img{
width: 70px;
height: 30px;
}

.catalog__button-img {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 10px;
    padding-right: 15px;
}
.catalog__button-img button{
    width: 220px;
    height: 44px;
    font-size: 17px;
    background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
    box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
    color:white;
    cursor:pointer;
    }

    .page-link{
        font-size: 25px;
        font-weight: 500;
      
    }
    .catalog-one,.catalog-two{
        margin-right: 20px;
    }
    .catalog-one,.catalog-three{
        color: #8e8e8e;
    }
    .catalog__pagination{
        text-align: center;
        margin-top: 50px;
     
    }

    .catalog__pagination {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
      
      .catalog__pagination p {
        margin: 0 5px;
        padding: 10px 15px;
        cursor: pointer;
        color: #313131;
        font-size: 20px;
        font-weight: 500;
        background-color: #f1f1f1;
        border-radius: 5px;
      }
      
      .catalog__pagination p.active {
        background-color: #fd5d27;
        color: white;
      }
      
      .catalog__pagination p:hover {
        background-color: #ee3c00;
        color: white;
      }
      

      .catalog__button-img  button:active {
        background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
        transform: scale(0.98);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      
      .catalog__button-img  button:hover {
        filter: brightness(0.9); 
      }
      

      .catalog-modal {
        display: none;
        position: fixed;
        z-index: 1000; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
      }
      
      .catalog-modal--open {
        display: flex;
      }
      
      .catalog-modal__content {
        text-align: center;
        background-color: white;
        padding: 30px;
        border-radius: 8px;
        position: relative;
        width: 900px;
        max-height: 95vh; 
        overflow-y: auto; 
      }
      
      
      .catalog-modal__content h2 {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        color: #313131;
        margin-top: 10px;
      }
      
      .catalog-modal__content p {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 30px;
        color: #313131 !important;
      }
      
      .catalog-close-button {
        position: absolute;
        top: 6px;
        right: 15px;
        background: none;
        border: none;
        font-size: 35px;
        cursor: pointer;
        color: #c7c5c5;
      }
      
      .modal-input-group__catalog input,
      .modal-input-group__catalog select {
        width: 370px;
        height: 40px;
        margin-bottom: 25px;
        border-style: none;
        background-color: #F1F1F1;
        border-radius: 8px;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
        padding-left: 20px; 
      }
      
      .modal-input-group__catalog input::placeholder {
        color: #C1C1C1;
        font-size: 17px;
      }
      
      .modal-input-group__catalog select {
        color: #C1C1C1;
        font-size: 17px;
      }
      
      .modal-input-group__two__catalog button {
        margin: 0 auto;
        width: 300px;
        height: 44px;
        font-size: 17px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 0px 4px 8px rgba(241, 67, 12, 1); 
        color: white;
        margin-bottom: 20px;
        cursor: pointer;
        margin-top: 5px;
      }
      
      .modal-input-group__two__catalog button:active {
        background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
        transform: scale(0.98);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      
      .modal-input-group__two__catalog button:hover {
        filter: brightness(0.9); 
      }
      
      .input-error select,
      .input-error input {
        border: 2px solid red !important;
      }
      
      .error-message {
        color: red;
      }

      
      .catalog-thankyou-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
     
      }
      
      .catalog-thankyou-modal--open {
        display: flex;
      }
      
      .catalog-thankyou-modal__content {
        background-color: white;
        padding: 30px;
        border-radius: 8px;
        position: relative;
        width: 900px;
        max-height: 95vh;
        overflow-y: auto;
        text-align: left;
   
    
      }
      
      .catalog-thankyou-modal__content img {
        border-radius: 8px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        width: 90vh;
      }
      
      .catalog-thankyou-modal__content h2 {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        color: #313131;
        text-align: center;
      }
      .catalog__log-number{
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 20px;
        padding-left: 37px;
        color:#8E8E8E;
      }
      
      .catalog__characteristics p {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 20px;
        color: #313131;
        text-align: left;
        padding-left: 37px;
  
        font-size: 20px;
      }


      .heroSection-catalog{
        font-weight: 600;
        margin-right: 5px;
      }
      
      .catalog__characteristics p1{
        display: block;
        font-weight: 400;
        font-size: 21px;
        color: #313131;
        font-family: "Montserrat", sans-serif;
        padding-left: 37px;
        margin-bottom: 2px;
      }

      .catalog__characteristics h4{
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 15px;
        color: #313131;
        font-family: "Montserrat", sans-serif;
        padding-left: 37px;
      }

      .catalog__characteristics p1::before{
        content: "•";
        margin-right: 5px;
      }

.catalog__characteristicsTwo{
  margin-top: 35px;
}

.catalog__characteristicsThree{
  margin-top: 35px;
}

.catalog-thankyou-modal__content-button{
  text-align: center;
  margin-top: 40px;
}

.catalog-thankyou-modal__content-button button {
margin-bottom: 10px;
  width: 300px;
  height: 44px;
  font-size: 17px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 0px 4px 8px rgba(241, 67, 12, 1); 
  color: white;

  cursor: pointer;
  margin-top: 5px;
}

.catalog-thankyou-modal__content-button button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.catalog-thankyou-modal__content-button button:hover {
  filter: brightness(0.9); 
}
.delete-button__admin {
  background: none;
  border: none;
  cursor: pointer;
  color: #cb2d00;
  font-size: 14px;
  margin-left: 10px;
  padding-top: 5px;
  cursor: pointer;
}


.delete-button__admin:hover  {
  filter: brightness(0.9); 
}

.delete-button__admin:active  {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.catalog__empty{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  align-items:center;
  color:#cb2d00;
}
@media screen and (max-width: 1550px) {
 
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 40px;
    }
    
    .catalog-content{
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    }
    .catalog-content h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px; 
    row-gap: 50px;
    }
    
    .catalog__grid-item img {
    width: 100%;
    height: 280px; 
    border-radius:8px;
    }
    .catalog__grid-item h2{
    font-family: "poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
     }
    
     .catalog__grid-item h3{
        font-family: "poppins", sans-serif;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color:#313131;
        font-weight:600;
         }
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 15px;
        margin-bottom: 20px;
    
    }
    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 18px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .catalog__button-img img{
    width: 70px;
    height: 30px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 10px;
        padding-right: 15px;
    }
    .catalog__button-img button{
        width: 220px;
        height: 44px;
        font-size: 17px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
}
@media screen and (max-width: 1320px) {
 
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 40px;

    }
    
    .catalog-content{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    }
    .catalog-content h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 500px); 
    grid-template-rows: repeat(3, 1fr);
    column-gap: 50px; 
    row-gap: 40px;
    justify-content: center;
    }
 
    .catalog__grid-item img {
    width: 100%;
    height: 315px; 
    border-radius:8px;
    }
    .catalog__grid-item h2{
    font-family: "poppins", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
     }
    
     .catalog__grid-item h3{
        font-family: "poppins", sans-serif;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color:#313131;
        font-weight:600;
         }
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 15px;
        margin-bottom: 10px;
  
    }
    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 19px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .catalog__button-img img{
    width: 70px;
    height: 30px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 10px;
        padding-right: 15px;
    }
    .catalog__button-img button{
        width: 220px;
        height: 44px;
        font-size: 17px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
}

@media screen and (max-width: 1070px) {
 
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 40px;

    }
    
    .catalog-content{
    width: 750px;
    margin: 0 auto;
    padding-top: 20px;
    }
    .catalog-content h1{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 350px); 
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px; 
    row-gap: 30px;
    justify-content: center;
    }
 
    .catalog__grid-item img {
    width: 100%;
    height: 220px; 
    border-radius:8px;
    }
    .catalog__grid-item h2{
    font-family: "poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
     }
    
     .catalog__grid-item h3{
        font-family: "poppins", sans-serif;
        font-size: 22px;
        font-weight: 600;
        padding-left: 5px;
        padding-right: 5px;
        color:#313131;
        font-weight:600;
        margin-bottom: 0px;
         }
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 10px;
        margin-bottom: 7px;
    }

    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 14px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 50px;
        height: 50px;
        margin-right: 7px;
    }
    
    .catalog__button-img img{
    width: 50px;
    height: 25px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 5px;
        padding-right: 10px;
    }
    .catalog__button-img button{
        width: 200px;
        height: 37px;
        font-size: 14px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
}

@media screen and (max-width: 750px) {
 
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 40px;

    }
    
    .catalog-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    
    }
    .catalog-content h1{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 530px); 
    grid-template-rows: repeat(4, 1fr);
    row-gap: 40px;
    justify-content: center;

    }
 
    .catalog__grid-item img {
      width: 530px;
      height: 320px; 
      border-radius:8px;
      }
      .catalog__grid-item h2{
        font-family: "poppins", sans-serif;
        font-size: 30px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
         }
        
         .catalog__grid-item h3{
            font-family: "poppins", sans-serif;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            color:#313131;
            font-weight:600;
             }
            
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 7px;
        margin-bottom: 10px;
    }

    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 20px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 50px;
        height: 50px;
        margin-right: 8px;
    }
    
    .catalog__button-img img{
    width: 50px;
    height: 25px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 5spx;
        padding-right: 8px;
    }
    .catalog__button-img button{
      width: 220px;
      height: 44px;
      font-size: 17px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
        .catalog__characteristics{
          margin-left: -30px;
          }
          .catalog__log-number{
            margin-left: -30px;
          }
}
@media screen and (max-width: 550px) {
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 40px;

    }
    
    .catalog-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    
    }
    .catalog-content h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 400px); 
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    justify-content: center;

    }
 
    .catalog__grid-item img {
      width: 400px;
      height: 270px; 
      border-radius:8px;
      }
      .catalog__grid-item h2{
        font-family: "poppins", sans-serif;
        font-size: 23px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
         }
        
         .catalog__grid-item h3{
            font-family: "poppins", sans-serif;
            font-size: 23px;
            font-weight: 600;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 0px;
            color:#313131;
            font-weight:600;
             }
            
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 8px;
        margin-bottom: 5px;
    }

    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 16px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .catalog__button-img img{
    width: 50px;
    height: 25px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 5px;
        padding-right: 10px;
    }
    .catalog__button-img button{
      width: 200px;
      height: 40px;
      font-size: 17px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
        .catalog-modal {
          display: none;
          position: fixed;
          z-index: 9999;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          justify-content: center;
          align-items: center;
        }
        
        .catalog-modal--open {
          display: flex;
        }
        
        .catalog-modal__content {
          text-align: center;
          background-color: white;
          padding: 30px;
          border-radius: 8px;
          position: relative;
          max-width: 900px;
width: 500px;
          max-height: 95vh; 
          overflow-y: auto; 
   
        }
        
        .catalog-modal__content h2 {
          font-weight: 600;
          font-size: 25px;
          margin-bottom: 10px;
          color: #313131;
          margin-top: 10px;
        }
        
        .catalog-modal__content p {
          font-weight: 400;
          font-size: 17px;
          margin-bottom: 30px;
          color: #313131;
        }
        
        .modal-input-group__catalog input,
        .modal-input-group__catalog select {
          width: 100%;
          height: 40px;
          margin-bottom: 25px;
          border-style: none;
          background-color: #F1F1F1;
          border-radius: 8px;
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
          padding-left: 20px; 
        }
        
        .modal-input-group__catalog input::placeholder {
          color: #C1C1C1;
          font-size: 16px;
        }
        
        .modal-input-group__catalog select {
          color: #C1C1C1;
          font-size: 16px;
        }
        
        .modal-input-group__two__catalog button {
          margin: 0 auto;
          width: 100%;
          height: 44px;
          font-size: 17px;
          background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
          box-shadow: 0px 4px 8px rgba(241, 67, 12, 1); 
          color: white;
          margin-bottom: 20px;
          cursor: pointer;
          margin-top: 5px;
        }
        .catalog__characteristics p1{
          display: block;
          font-weight: 400;
          font-size: 19px;
          color: #313131;
          font-family: "Montserrat", sans-serif;
          padding-left: 37px;
          margin-bottom: 2px;
        }
  
        .catalog__characteristics h4{
          font-weight: 600;
          font-size: 25px;
          margin-bottom: 10px;
          color: #313131;
          font-family: "Montserrat", sans-serif;
          padding-left: 37px;
        }
  
        .catalog__characteristics p1::before{
          content: "•";
          margin-right: 5px;
        }
        .catalog__characteristics{
        margin-left: -30px;
        }
        
  
  .catalog__characteristicsTwo{
    margin-top: 25px;
  }
  
  .catalog__characteristicsThree{
    margin-top: 25px;
  }
  .catalog-thankyou-modal__content h2{
    font-size: 25px;
  }
  .catalog__log-number{
    margin-left: -30px;
  }
  
}

@media screen and (max-width: 420px) {
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 30px;
    }
    
    .catalog-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    
    }
    .catalog-content h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px); 
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    justify-content: center;

    }
 
    .catalog__grid-item img {
      width: 300px;
      height: 210px; 
      border-radius:8px;
      }
      .catalog__grid-item h2{
        font-family: "poppins", sans-serif;
        font-size: 19px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
         }
        
         .catalog__grid-item h3{
            font-family: "poppins", sans-serif;
            font-size: 19px;
            font-weight: 600;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 0px;
            color:#313131;
             }
            
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 8px;
        margin-bottom: 5px;
    }

    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 14px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    
    .catalog__button-img img{
    width: 40px;
    height: 20px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 5px;
        padding-right: 10px;
    }
    .catalog__button-img button{
      width: 180px;
      height: 35px;
      font-size: 15px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
        .modal-input-group__catalog input::placeholder {
          color: #C1C1C1;
          font-size: 14px;
        }
        
        .modal-input-group__catalog select {
          color: #C1C1C1;
          font-size: 14px;
        }
        .catalog__log-number{
          margin-left: -30px;
        }
}

@media screen and (max-width: 350px) {
  .catalog{
    background-color:white;
    height: 100%;
    padding-bottom: 40px;

    }
    
    .catalog-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    
    }
    .catalog-content h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    }
    
    .catalog-content__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 400px); 
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    justify-content: center;

    }
 
    .catalog__grid-item img {
      width: 400px;
      height: 270px; 
      border-radius:8px;
      }
      .catalog__grid-item h2{
        font-family: "poppins", sans-serif;
        font-size: 23px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
         }
        
         .catalog__grid-item h3{
            font-family: "poppins", sans-serif;
            font-size: 23px;
            font-weight: 600;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 0px;
            color:#313131;
            font-weight:600;
             }
            
        
        
    .catalog__grid-item__icons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 8px;
        margin-bottom: 5px;
    }

    
    .catalog__grid-item__icons p {
        font-family: "montserrat", sans-serif;
        font-size: 16px;
        color: #8E8E8E;
        font-weight: 400;
    }
    .catalog__icons-places, .catalog__icons-type, .catalog__icons-benzin{
        display: flex;
        align-items: center;
    }
    .catalog__icons-places img,  .catalog__icons-benzin img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .catalog__icons-type img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .catalog__button-img img{
    width: 50px;
    height: 25px;
    }
    
    .catalog__button-img {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-left: 5px;
        padding-right: 10px;
    }
    .catalog__button-img button{
      width: 200px;
      height: 40px;
      font-size: 17px;
        background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
        box-shadow: 1px 1px 10px rgba(241, 67, 12, 1); 
        color:white;
        cursor:pointer;
        }
        .catalog-modal {
          display: none;
          position: fixed;
          z-index: 9999;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          justify-content: center;
          align-items: center;
        }
        
        .catalog-modal--open {
          display: flex;
        }
        
        .catalog-modal__content {
          text-align: center;
          background-color: white;
          padding: 30px;
          border-radius: 8px;
          position: relative;
          max-width: 900px;
width: 500px;
          max-height: 95vh; 
          overflow-y: auto; 
   
        }
        
        .catalog-modal__content h2 {
          font-weight: 600;
          font-size: 25px;
          margin-bottom: 10px;
          color: #313131;
          margin-top: 10px;
        }
        
        .catalog-modal__content p {
          font-weight: 400;
          font-size: 17px;
          margin-bottom: 30px;
          color: #313131;
        }
        
        .modal-input-group__catalog input,
        .modal-input-group__catalog select {
          width: 100%;
          height: 40px;
          margin-bottom: 25px;
          border-style: none;
          background-color: #F1F1F1;
          border-radius: 8px;
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
          padding-left: 20px; 
        }
        
        .modal-input-group__catalog input::placeholder {
          color: #C1C1C1;
          font-size: 16px;
        }
        
        .modal-input-group__catalog select {
          color: #C1C1C1;
          font-size: 16px;
        }
        
        .modal-input-group__two__catalog button {
          margin: 0 auto;
          width: 100%;
          height: 44px;
          font-size: 17px;
          background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
          box-shadow: 0px 4px 8px rgba(241, 67, 12, 1); 
          color: white;
          margin-bottom: 20px;
          cursor: pointer;
          margin-top: 5px;
        }
        .catalog__characteristics p1{
          display: block;
          font-weight: 400;
          font-size: 17px;
          color: #313131;
          font-family: "Montserrat", sans-serif;
          padding-left: 37px;
          margin-bottom: 2px;
        }
  
        .catalog__characteristics h4{
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 10px;
          color: #313131;
          font-family: "Montserrat", sans-serif;
          padding-left: 37px;
 
        }
  
        .catalog__characteristics p1::before{
          content: "•";
          margin-right: 5px;
        }
        .catalog__characteristics{
        margin-left: -30px;
        }
        .catalog-thankyou-modal__content-button button{
width: 100%;
   margin-bottom: 5px;
   font-size: 15px;
        }
        .catalog-thankyou-modal__content-button{
          margin-top: 20px;
          width:100%
        }
        
  
  .catalog__characteristicsTwo{
    margin-top: 25px;
  }
  
  .catalog__characteristicsThree{
    margin-top: 25px;
  }
  .catalog-thankyou-modal__content h2{
    font-size: 25px;
  }
  .catalog__log-number {
    margin-left: -30px;
    font-size: 15px !important;

  }
 
}



.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.fullscreen-image-container {
  position: relative;
  max-width: 900px;
  max-height: 500px;
  overflow: hidden;
  background-color: white;
  padding:10px;
padding-bottom: 6px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.fullscreen-image {
  max-width: 900px;
  max-height: 500px;
  object-fit: cover;
}

.close-fullscreen {
  position: absolute;
  top: 10px;
  right: 23px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

