.admin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.admin-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 1200px;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.admin-modal-close {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.admin-modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.admin-modal-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-modal-menu button {
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

.admin-modal-menu button:hover {
  border-bottom: 2px solid #000;
  background-color:#f3f3f3;
}
.admin-modal-menu button:active {
  background-color:#e0e0e0;
}

.admin-modal-content h2{
 text-align: center;
 margin-bottom: 10px;
 font-size: 30px;
 color:#ff8409;
}

.admin-modal-body p{
  font-size: 20px;
}

.admin-modal-body h1
{
  font-size: 25px;
  text-align: center;
}
.admin-modal-body__register-login input{
  margin-bottom: 15px;
  margin-top: 5px;
  width: 370px;
  height: 40px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
  
}
.admin-modal-body__register-password input{
  width: 370px;
  height: 40px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
  margin-bottom: 20px;
}

.admin-modal-body__register{
text-align: center;
}
.admin-modal-body__register p{
  font-weight: 500;
margin-bottom: 5px;
}
.admin-modal-body__register button{
  margin: 0 auto;
  width: 300px;
  height: 44px;
  font-size: 18px;
  background: linear-gradient(to right, #0ceb00 0%, #47f303 100%);
  box-shadow: 1px 2px 8px rgb(109, 252, 0); 
  color:white;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.admin-modal-body__register button:active{
  background: linear-gradient(to right, #11fc00 0%, #33cb00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.admin-modal-body__register button:hover {
  filter: brightness(0.9); 
}

.admin-modal-body__register-delete  button:active{
  background: linear-gradient(to right, #ff0000 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.admin-modal-body__register-delete button:hover {
  filter: brightness(0.9); 
}

.admin-modal-body__register-delete{
  margin-top: 40px;
}
.admin-modal-body__register-delete button {
  background: linear-gradient(to right, #ff0000 0%, #ff0000 100%);
  box-shadow: 1px 2px 8px rgb(252, 0, 0); 
}

.admin-modal-body__addCar {
  text-align: center;
}
.admin-modal-body__addCar h1{
  margin-top: 0px;
  margin-bottom: 5px;

}

.admin-modal-body__addCar-withoutContacts p{
text-align: center;
font-size: 18;
margin-bottom: 20px;

}

.admin-modal-body__addCar-withoutContacts input,
.admin-modal-body__addCar-withContacts input{
align-items:center;
  width: 370px;
  height: 40px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
  margin-bottom: 20px;
  opacity: 1; 
}
.admin-modal-body__addCar-withoutContacts input,
.admin-modal-body__addCar-withContacts input{
  padding-top: 8px;
  }

  .admin-modal-body__addCar-withContacts p{
    text-align: center;
    font-size: 18;
    margin-bottom: 20px;
    margin-top: 25px;
    
    }

.admin-modal__addCar-buttonTwo button{
width: 370px;
height: 30px;
background-color:#cecece;
cursor: pointer;
margin-bottom: 20px;

  }
.admin-modal__addCar-button button {
    margin-bottom: 30px;
    width: 370px;
height: 30px;
cursor: pointer;


  }

  .admin-modal-body__addCar-button{
    margin: 0 auto;
  width: 300px;
  height: 44px;
  font-size: 18px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
  color:white;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 10px;

  }

  .admin-modal-body__addCar-button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.admin-modal-body__addCar-button:hover {
  filter: brightness(0.9); 
}


.admin-modal-body__addReview {
  text-align: center;
}
.admin-modal-body__addReview h1{
  margin-top: 0px;
}
.admin-modal-body__addReview input,
.admin-modal-body__addReview textarea {
  width: 50%;
  margin-bottom: 25px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  height: 45px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
}

.admin-modal-body__addReview textarea {
  height: 130px;
  resize: none; 
  padding-top: 12px; 
  line-height: 1.2; 
}
.admin-modal-body__addReview button{
  margin: 0 auto;
  width: 300px;
  height: 44px;
  font-size: 18px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
  color:white;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.admin-modal-body__addReview button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.admin-modal-body__addReview button:hover {
  filter: brightness(0.9); 
}

.admin-modal-body__addConsultation h1{
  margin-top: 0px;
}
.admin-modal-body__addConsultation-card {
  display: flex;
justify-content: space-between;
padding-left: 100px;
padding-right: 100px;
}
.admin-modal-body__addConsultation-card input{
  width:330px;
  margin-bottom: 25px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  height: 45px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
}



.admin-modal-body__addConsultation-img input{
padding-top: 10px;
}

.left__consultation,
.right__consultation{
  text-align: center;
}
.admin-modal-body__addConsultation-card button{
  margin: 0 auto;
  width: 300px;
  height: 44px;
  font-size: 18px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
  color:white;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.admin-modal-body__addConsultation-card button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.admin-modal-body__addReview button:hover {
  filter: brightness(0.9); 
}


.success-message {
  color: green;
  margin-top: 10px;
  font-weight:400;
  background-color: #d4edda;
  color: #155724;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-weight:400;
  background-color: #f8d7da;
  color: #721c24;
}

.error-message,
.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}


@media screen and (max-width: 750px) {
  .admin-modal-content {
    width: 90%;
    max-width: 600px;
    padding: 15px;
  }

  .admin-modal-body__register-login input,
  .admin-modal-body__register-password input,
  .admin-modal-body__addCar-withoutContacts input,
  .admin-modal-body__addCar-withContacts input,
  .admin-modal-body__addReview input,
  .admin-modal-body__addReview textarea,
  .admin-modal-body__addConsultation-card input,
  .admin-modal__addCar-buttonTwo button,
  .admin-modal__addCar-button button,
  .admin-modal-body__addCar-button,
  .admin-modal-body__register-delete button,
  .admin-modal-body__register button,
  .admin-modal-body__addReview button,
  .admin-modal-body__addConsultation-card button {
    width: 100%;
    max-width: 300px;
  }

  .admin-modal-body__addConsultation-card {
    flex-direction: column;
    align-items: center;
  }

  .admin-modal-body__addConsultation-card input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .admin-modal-body__addConsultation-card div.left__consultation,
  .admin-modal-body__addConsultation-card div.right__consultation {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .admin-modal-body__addConsultation-card .admin-modal-body__addConsultation-img {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }

  .admin-modal-body__addConsultation-card button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 650px) {
  .admin-modal-menu {
    flex-direction: column;
    align-items: center;
  }

  .admin-modal-menu button {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .admin-modal-content {
    width: 95%;
    max-width: 350px;
    padding: 10px;
  }

  .admin-modal-body__register-login input,
  .admin-modal-body__register-password input,
  .admin-modal-body__addCar-withoutContacts input,
  .admin-modal-body__addCar-withContacts input,
  .admin-modal-body__addReview input,
  .admin-modal-body__addReview textarea,
  .admin-modal-body__addConsultation-card input,
  .admin-modal__addCar-buttonTwo button,
  .admin-modal__addCar-button button,
  .admin-modal-body__addCar-button,
  .admin-modal-body__register-delete button,
  .admin-modal-body__register button,
  .admin-modal-body__addReview button,
  .admin-modal-body__addConsultation-card button {
    width: 100%;
    max-width: 250px;
  }

  .admin-modal-body__addConsultation-card {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .admin-modal-body__addConsultation-card input {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
  }

  .admin-modal-body__addConsultation-card div.left__consultation,
  .admin-modal-body__addConsultation-card div.right__consultation {
    width: 100%;
    max-width: 250px;
    text-align: center;
  }

  .admin-modal-body__addConsultation-card .admin-modal-body__addConsultation-img {
    width: 100%;
    max-width: 250px;
    text-align: center;
  }

  .admin-modal-body__addConsultation-card button {
    margin-top: 15px;
  }
}
