@use "../../styles/abstracts/_variables" as v;
@use "../../styles/abstracts/mixins" as m;

.brand {
  width: 100%;
}

.line {
  height: 0.25rem;
  background-color: v.$color-orange;
  margin-bottom: 1.25rem;
}

.container {
  @include m.flexBetween;
  padding-bottom: 1.5rem;
}

.container img {
  width: 3.8em;
}

.swiper :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
}
.item {
  height: 4rem;
  @include m.flexCenter;
}

.title {
  @include m.title;
  font-weight: v.$weight-600;
  color: v.$color-black;
  margin: 0rem 5rem;
}

.subtitle {
  color: v.$color-black;
  max-width: 50rem;
  padding-left: 1rem;
  border-left: 0.25rem solid v.$color-orange;
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: v.$weight-400;
  margin: 0rem 5rem 2rem 5rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.8rem;
    margin: 0rem 3rem;
  }
  .subtitle {
    margin: 0rem 3rem 2rem 3rem;
  }
}

@media (max-width: 500px) {
  .title {
    margin: 0rem 2.5rem;
  }
  .subtitle {
    margin: 0rem 2.5rem 1.5rem 2.5rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-weight: v.$weight-500;
    margin: 0rem 2rem;
  }
  .subtitle {
    margin: 0rem 2rem 1.5rem 2rem;
  }
}
