.advantages{
margin-bottom: 80px;

}
.advantages-content {
    position: relative;
    width: 1500px;
    margin: 0 auto;
    z-index: 1;

}
.advantages-content h1{
    font-size: 55px;
    font-weight: 400;
    color:white;
    margin-top: 80px;
    margin-bottom: 50px;
}
.advantages-content__grid-container{
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 270px);
    gap: 50px;
}

.advantages__grid-item {
    background-color: #1D1D1D; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    padding-left: 40px;
    
}
.advantages__grid-item__text-content{
    padding-top: 40px;

 
}

.advantages__grid-item__text-content p{
width: 350px;
font-weight: 400;
font-size: 20px;
color:#A5A5A5;
margin-top: 15px;

}

.advantages__grid-item__text-content h2{
font-weight: 500;
font-size: 40px;
color:#ffffff;
}
.advantages__grid-item__number h2{
    font-weight: 600;
    font-size: 35px;
    color:#FF4A10;
padding-top: 15px;
padding-right: 20px;
}

.advantages__light-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none; 
  }

.advantages__light {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  width: 90%;
}

@media screen and (max-width: 1550px) {
    .advantages-content h1{
        font-size: 45px;
        font-weight: 400;
        color:white;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .advantages-content {
        width: 1300px;
        margin: 0 auto;
        z-index: 1;
    
    }
    .advantages-content__grid-container{
        width: 1300px;
        display: grid;
        grid-template-columns: repeat(3, 400px); 
        grid-template-rows: repeat(2, 270px);
        gap: 50px;
    }
    .advantages__grid-item__text-content p{
        width: 300px;
        font-weight: 400;
        font-size: 20px;
        color:#A5A5A5;
        margin-top: 15px;
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 30px;
        color:#ffffff;
        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 25px;
            color:#FF4A10;
        padding-top: 20px;
        padding-right: 30px;
        }
        

}

@media screen and (max-width: 1350px) {
    .advantages-content h1{
        font-size: 40px;
        font-weight: 400;
        color:white;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .advantages-content {
        width: 1000px;
        margin: 0 auto;
        z-index: 1;
    
    }
    .advantages-content__grid-container{
        width: 1300px;
        display: grid;
        grid-template-columns: repeat(3, 315px); 
        grid-template-rows: repeat(2, 210px);
        gap: 30px;
    }
    .advantages__grid-item__text-content p{
        width: 240px;
        font-weight: 400;
        font-size: 16px;
        color:#A5A5A5;
        margin-top: 10px;
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 25px;
        color:#ffffff;
        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 20px;
            color:#FF4A10;
        padding-top: 13px;

        }
        

}

@media screen and (max-width: 1040px) {
    .advantages-content h1{
        font-size: 35px;
        font-weight: 400;
        color:white;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .advantages-content {
        width: 800px;
        margin: 0 auto;
        z-index: 1;
    
    }
    .advantages-content__grid-container{
        display: grid;
        grid-template-columns: repeat(3, 250px); 
        grid-template-rows: repeat(2, 180px);
        gap: 30px;
    }
    .advantages__grid-item__text-content p{
        width: 180px;
        font-weight: 400;
        font-size: 12px;
        color:#A5A5A5;
        margin-top: 10px;
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 20px;
        color:#ffffff;
        margin-top: -10px;
        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 15px;
            color:#FF4A10;


        }
        
        .advantages__light {
            position: absolute;
            pointer-events: none;
            top: 200px;
            left: 0;
            right: 0px;
            bottom: 0;
            width: 100%;
          }
          .advantages__light {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            right: 0px;
            bottom: 0;
            width:100%;
          }
}

@media screen and (max-width: 860px) {
    .advantages-content h1{
        font-size: 30px;
        font-weight: 400;
        color:white;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
    }
    .advantages-content {
        width: 700px;
        margin: 0 auto;
        z-index: 1;
        align-items: center;
    
    }
  
    .advantages-content__grid-container{
        display: grid;
  width: 500px;
margin: 0 auto;
        grid-template-columns: repeat(2, 250px); 
        grid-template-rows: repeat(3, 180px);
        gap: 20px;
        justify-content: center;
 
    }
    .advantages__grid-item__text-content p{
        width: 180px;
        font-weight: 400;
        font-size: 12px;
        color:#A5A5A5;
        margin-top: 10px;
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 20px;
        color:#ffffff;
        margin-top: -10px;
        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 15px;
            color:#FF4A10;


        }
        .advantages__light {
            position: absolute;
            pointer-events: none;
            top: 200px;
            left: 0;
            right: 0px;
            bottom: 0;
            width: 100%;
          }

}

@media screen and (max-width: 730px) {
    .advantages-content h1{
        font-size: 30px;
        font-weight: 400;
        color:white;
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
    .advantages-content {
        width: 400px;
        margin: 0 auto;
        z-index: 1;
        align-items: center;
    
    }
    .advantages-content__grid-container{
        display: grid;
  width: 400px;
margin: 0 auto;
        grid-template-columns: repeat(2, 240px); 
        grid-template-rows: repeat(3, 150px);
        gap: 20px;
        justify-content: center;
 
    }
    .advantages__grid-item__text-content p{
        width: 170px;
        font-weight: 400;
        font-size: 12px;
        color:#A5A5A5;
  
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 20px;
        color:#ffffff;
        margin-top: -25px;
        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 15px;
            color:#FF4A10;
            


        }
     
        .advantages__light {
            position: absolute;
            pointer-events: none;
            top: 200px;
            left: 0;
            right: 0px;
            bottom: 0;
            width: 100%;
          }
}
@media screen and (max-width: 550px) {
    .advantages-content h1{
        font-size: 25px;
        font-weight: 400;
        color:white;
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
    .advantages-content {
        width: 370px;
        margin: 0 auto;
        z-index: 1;
        align-items: center;

    
    }
    .advantages-content__grid-container{
        display: grid;
  width: 370px;
margin: 0 auto;
        grid-template-columns: repeat(2, 210px); 
        grid-template-rows: repeat(3, 170px);
        gap: 10px;
        justify-content: center;

 
    }
    .advantages__grid-item__text-content p{
        width: 150px;
        font-weight: 400;
        font-size: 12px;
        color:#A5A5A5;
        margin-left: -10px;
  
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 20px;
        color:#ffffff;
        margin-top: -25px;
        margin-left: -10px;
        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 15px;
            color:#FF4A10;
            


        }
        .advantages__light {
            position: absolute;
            pointer-events: none;
            top: 200px;
            left: 0;
            right: 0px;
            bottom: 0;
            width: 100%;
          }

}

@media screen and (max-width: 460px) {
    .advantages-content h1{
        font-size: 22px;
        font-weight: 400;
        color:white;
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
    .advantages-content {
        width: 350px;
        margin: 0 auto;
        z-index: 1;
        align-items: center;

    
    }
    .advantages-content__grid-container{
        display: grid;
  width: 350px;
margin: 0 auto;
        grid-template-columns: repeat(2, 170px); 
        grid-template-rows: repeat(3, 178px);
        gap: 10px;
        justify-content: center;
   

 
    }
    .advantages__grid-item__text-content {
      margin-left: -10px;
        
        }
        
    .advantages__grid-item__text-content p{
        width: 125px;
        font-weight: 400;
        font-size: 11px;
        color:#A5A5A5;
  
        
        }
        
        .advantages__grid-item__text-content h2{
        font-weight: 500;
        font-size: 17px;
        color:#ffffff;
        margin-top: -25px;

        }
        .advantages__grid-item__number h2{
            font-weight: 600;
            font-size: 15px;
            color:#FF4A10;
        }
        .advantages__light {
            position: absolute;
            pointer-events: none;
            top: 200px;
            left: 0;
            right: 0px;
            bottom: 0;
            width: 100%;
          }

}