.selection{
background-color: #ffffff;
height: auto;
padding-top: 60px;
padding-bottom: 60px;
position: relative;
z-index: 9999;
} 
.selection-content{
width: 1500px;
height: auto;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items:center;

}
 .selection-button button{
   margin: 0 auto;
   width: 300px;
   height: 44px;
   font-size: 18px;
   background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
   box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
   color:white;
   margin-bottom: 40px;
   cursor: pointer;
 }
 .selection-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

 .selection-plus{
  position: absolute;
  top: 320px;
  left:-100px;
z-index: 1;
 }

 .selection-content__text{
  background:#1D1D1D;
  border-radius:8px;
  width: 650px;
  height: 280px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.6);
 }
 .selection-content__text h2{
  color:white;
font-weight: 500;
font-size: 30px;
padding-top: 35px;
padding-bottom: 20px;
 }
 .selection-content__text p{
  color:#DEDEDE;
font-weight: 400;
font-size: 20px;
 }
 .selection-content__selections{
  width: 650px;
  height: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius:8px;

 }
 .selection-content__selections h2{
text-align: center;
font-size: 25px;
margin-top: 30px;
 }
 .selection-content__input{
  display: flex;
  flex-direction: column;
align-items:center;
margin-top: 30px;


 }

 .selection-content__input input,
 .selection-content__input select {
   width: 500px;
   margin-bottom: 25px;
   border-style: none;
   background-color: #F1F1F1;
   border-radius: 8px;
   height: 45px;
   box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
   padding-left: 20px; 
 }
 
 .selection-content__input input::placeholder {
  color: #C1C1C1;
  font-size: 18px;
}

.selection-content__input select {
  color: #C1C1C1;
  font-size: 18px;

 
}




.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
 
}

.modal--open {
  display: flex;
}

.main__modal-content {
  text-align: center;
  background-color: white;
  padding: 20px;

  border-radius: 8px;
  position: relative;
  width: 900px;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 10000;
}

.main__modal-content h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
 
  color:#313131
}

.main__modal-content p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color:#313131
}

.close-button {
  position: absolute;
  top: 6px;
  right: 15px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #c7c5c5;
}



.input-error select,
.input-error input {
  border: 2px solid red !important;
}

.error-message {
  color: red;
  padding-left: 20px;
  padding-right: 20px;
}

.selection-button button:active {
  background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.selection-button button:hover {
  filter: brightness(0.9); 
}

@media screen and (max-width: 1530px) {
.selection-content{
    width: 1350px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    } 
}
@media screen and (max-width: 1390px) {
  .selection-content{
      width: 1100px;
      height: auto;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items:center;
      } 
      .selection-content__text{
        background:#1D1D1D;
        border-radius:8px;
        width: 530px;
        height: 320px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.6);
       }
       .selection-content__selections{
        width: 530px;
        height: auto;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius:8px;
       }
       .selection-content__input input,
       .selection-content__input select {
         width: 480px;
         margin-bottom: 25px;
         border-style: none;
         background-color: #F1F1F1;
         border-radius: 8px;
         height: 45px;
         box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
         padding-left: 20px; 
       }
  }

  @media screen and (max-width: 1390px) {
    .selection-content{
        width: 950px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        } 
        .selection-content__text{
          background:#1D1D1D;
          border-radius:8px;
          width: 450px;
          height: 350px;
          text-align: center;
          padding-left: 50px;
          padding-right: 50px;
          box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.6);
         }
         .selection-content__selections{
          width: 450px;
          height: auto;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
          border-radius:8px;
         }
         .selection-content__input input,
         .selection-content__input select {
           width: 400px;
           margin-bottom: 25px;
           border-style: none;
           background-color: #F1F1F1;
           border-radius: 8px;
           height: 40px;
           box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
           padding-left: 20px; 
         }

         .selection-button button{
          margin: 0 auto;
          width: 300px;
          height: 44px;
          font-size: 18px;
          background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
          box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
          color:white;
          margin-bottom: 40px;
          cursor: pointer;
        }
        .selection-content__text h2{
         color:white;
       font-weight: 500;
       font-size: 30px;
       padding-top: 30px;
       padding-bottom: 20px;
        }
        .selection-content__text p{
         color:#DEDEDE;
       font-weight: 400;
       font-size: 20px;
        }
        .selection-content__selections h2{
          text-align: center;
          font-size: 25px;
          margin-top: 25px;
           }
    }


    @media screen and (max-width: 980px) {
      .selection-content{
        width: 100%; 
          height: auto;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap:40px;
    

          } 
          .selection-content__text{
         
      
            background:#1D1D1D;
            border-radius:8px;
            width: 450px;
            height: 350px;
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
            box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.6);
          
      
           }
           .selection-content__selections{
            width: 450px;
            height: auto;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
            border-radius:8px;
            text-align: center;

           }
           .selection-content__input input,
           .selection-content__input select {
             width: 400px;
             border-style: none;
             background-color: #F1F1F1;
             border-radius: 8px;
             height: 40px;
             box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
           }
  
           .selection-button button{
            margin: 0 auto;
            width: 300px;
            height: 44px;
            font-size: 18px;
            background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
            box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
            color:white;
            margin-bottom: 40px;
            cursor: pointer;
          }
          .selection-content__text h2{
           color:white;
         font-weight: 500;
         font-size: 30px;
         padding-top: 30px;
         padding-bottom: 20px;
          }
          .selection-content__text p{
           color:#DEDEDE;
         font-weight: 400;
         font-size: 20px;
          }
          .selection-content__selections h2{
            text-align: center;
            font-size: 25px;
            margin-top: 25px;
             }
             .selection-plus{
           display: none;
             }
             .selection{
              background-color: #ffffff;
              height: auto;
              padding-top: 50px;
              padding-bottom: 50px;
              position: relative;
              } 
      }


      @media screen and (max-width: 470px) {
        .selection-content{
          width: 100%; 
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap:30px;
      
  
            } 
            .selection-content__text{
              background:#1D1D1D;
              border-radius:8px;
              width: 350px;
              height: 350px;
              text-align: center;
              padding-left: 20px;
              padding-right: 20px;
              box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.6);
            
        
             }
             .selection-content__selections{
              width: 350px;
              height: auto;
              box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
              border-radius:8px;
              text-align: center;
  
             }
             .selection-content__input input,
             .selection-content__input select {
               width: 300px;
               border-style: none;
               background-color: #F1F1F1;
               border-radius: 8px;
               height: 40px;
               box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
             }
    
             .selection-button button{
              margin: 0 auto;
              width: 300px;
              height: 44px;
              font-size: 18px;
              background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
              box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
              color:white;
              margin-bottom: 40px;
              cursor: pointer;
            }
            .selection-content__text h2{
             color:white;
           font-weight: 500;
           font-size: 25px;
           padding-top: 20px;
           padding-bottom: 20px;
            }
            .selection-content__text p{
             color:#DEDEDE;
           font-weight: 400;
           font-size: 20px;
            }
            .selection-content__selections h2{
              text-align: center;
              font-size: 25px;
              margin-top: 20px;
               }
               .selection-plus{
             display: none;
               }
               .selection{
                background-color: #ffffff;
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;
                position: relative;
                } 
            
        }

        @media screen and (max-width: 370px) {

          .selection{
            background-color: #ffffff;
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
            } 
          .selection-content{
            width: 100%; 
              height: auto;
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              gap:30px;
        
    
              } 
              .selection-content__text{
                background:#1D1D1D;
                border-radius:8px;
                width: 300px;
                height: 320px;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.6);
              
          
               }
               .selection-content__selections{
                width: 300px;
                height: auto;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
                border-radius:8px;
                text-align: center;
    
               }
               .selection-content__input input,
               .selection-content__input select {
                 width: 250px;
                 border-style: none;
                 background-color: #F1F1F1;
                 border-radius: 8px;
                 height: 35px;
                 box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
               }
      
               .selection-button button{
                margin: 0 auto;
                width: 250px;
                height: 40px;
                font-size: 17px;
                background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
                box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
                color:white;
                margin-bottom: 30px;
                cursor: pointer;
              }
              .selection-content__text h2{
               color:white;
             font-weight: 500;
             font-size: 25px;
             padding-top: 20px;
             padding-bottom: 20px;
              }
              .selection-content__text p{
               color:#DEDEDE;
             font-weight: 400;
             font-size: 18px;
              }
              .selection-content__selections h2{
                text-align: center;
                font-size: 25px;
                margin-top: 20px;
                 }
                 .selection-plus{
               display: none;
                 }
                 .selection-content__input input::placeholder {
                  color: #C1C1C1;
                  font-size: 16px;
                }
                
                .selection-content__input select {
                  color: #C1C1C1;
                  font-size: 16px;
                
                 
                }
          }
