.brands{
    background-color: white;
    height: 250px;
    width: 100%;
 position: relative;
}

.brands-content{
    width: 1500px;
    margin: 0 auto;
 position: relative;
    z-index: 99;

}
.brands-orangLine{
    background-color: #FF4A10;
    height: 15px; 
    margin-bottom: 40px;
}
.brands-content p{

    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.brands-content__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
    
}
.bmw, .merc , .niss , .wolc  {
   width: 80px;
}

.audi, .chev, .ford {
    width: 100px;
}

.toyo{
    width: 120px;
}

.ford{
    margin-right: -25px;
 
}
@media screen and (max-width: 1550px) {
    .bmw, .merc , .niss , .wolc  {
        width: 50px;
     }
     
     .audi, .chev, .ford {
         width: 70px;
     }
     
     .toyo{
         width: 90px;
     }
     
     .ford{
         margin-right: -25px;
      
     }
     .brands-content{
        width: 1200px;
        margin: 0 auto;
    
    }
    .brands{
        background-color: white;
        height: 200px;
        width: 100%;
    }

}
@media screen and (max-width: 1250px) {
    .bmw, .merc , .niss , .wolc  {
        width: 50px;
     }
     
     .audi, .chev, .ford {
         width: 70px;
     }
     
     .toyo{
         width: 90px;
     }
     
     .ford{
         margin-right: -25px;
      
     }
     .brands-content{
        width: 900px;
        margin: 0 auto;
    
    }
    .brands{
        background-color: white;
        height: 200px;
        width: 100%;
    }

}
@media screen and (max-width: 920px) {
    .bmw, .merc , .niss , .wolc  {
        width: 40px;
     }
     
     .audi, .chev, .ford {
         width: 60px;
     }
     
     .toyo{
         width: 80px;
     }
     
     .ford{
         margin-right: -20px;
      
     }
     .brands-content{
        width: 700px;
        margin: 0 auto;
    
    }
    .brands{
        background-color: white;
        height: 200px;
        width: 100%;
    }
    .brands-content p{

        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 725px) {
    .bmw, .merc , .niss , .wolc  {
        width: 30px;
     }
     
     .audi, .chev, .ford {
         width: 50px;
     }
     
     .toyo{
         width: 60px;
     }
     
     .ford{
         margin-right: -10px;
      
     }
     .brands-content{
        width: 450px;
        margin: 0 auto;
    
    }
    .brands{
        background-color: white;
        height: 130px;
        width: 100%;
    }
    .brands-content p{
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }
    .brands-orangLine{
        background-color: #FF4A10;
        height: 15px; 
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .bmw, .merc , .niss , .wolc  {
        width: 30px;

     }
     
     .audi, .chev, .ford {
         width: 40px;
     }
     
     .toyo__div{
       display: none;
     }
     
     .ford__div{
         margin-right: -5px;
         display: none;
     }
     .brands-content{
        width: 350px;
        margin: 0 auto;

    
    }
    .brands{
        background-color: white;
        height: 100px;
        width: 100%;
    
    
    }
    .brands-content p{
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }
    .brands-content__logo{
    display: flex;
    justify-content: space-between;
    }
    .brands-orangLine{
        background-color: #FF4A10;
        height: 15px; 
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 380) {
    .bmw, .merc , .niss , .wolc  {
        width: 20px;
     }
     
     .audi, .chev, .ford {
         width: 30px;
     }
  
    .brands{
        background-color: white;
        height: 100px;
        width: 100%;
    
    
    }
    .brands-content p{
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
    }
    .brands-content__logo{
    display: flex;
    justify-content: space-between;
    }
    .brands-orangLine{
        background-color: #FF4A10;
        height: 15px; 
        margin-bottom: 15px;
    }
}
