@use "../../styles/abstracts/mixins" as m;

.nav {
  @include m.flexBetween;
  background-color: #171717;
  padding: 0.7rem 5rem;
}

.menu {
  @include m.flexBetween;
  width: 31.25rem;

  li {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
}

.logo {
  width: 5rem;
}

.car_finder {
  border: 1.9px solid #fff;
  border-radius: 6px;
  padding: 0.1rem 1rem;
  font-size: 0.9rem;
}
