html, body, #root, .login {
    height: 100%;
    margin: 0;

    padding: 0;
  }
  .login {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #212121;

  }
  
  .login-container {
    z-index: 2;
    width: 100%;
    max-width: 700px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;

  }

  .login-container h2{
font-size: 25px;
margin-bottom: 20px;
margin-top: 15px;
  }

.login-container input{
    width: 70% ;
    margin-bottom: 25px;
    border-style: none;
    background-color: #F1F1F1;
    border-radius: 8px;
    height: 45px;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
    padding-left: 20px; 
}
    
.login-container button{
margin: 0 auto;
  width: 200px;
  height: 44px;
  font-size: 18px;
  background: linear-gradient(to right, #fd5d27 0%, #ee3c00 100%);
  box-shadow: 1px 2px 8px rgba(241, 67, 12, 1); 
  color:white;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.login-container button:active{
    background: linear-gradient(to right, #e14b20 0%, #cb2d00 100%);
    transform: scale(0.98);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login-container button:hover{
    filter: brightness(0.9); 
}



.login__plus{
    position: absolute;
    z-index: 1;
    left: 50px;
    top:500px;
}
.login__light{
    position: absolute;
    z-index: 1;
    left: 400px;
    top:-50px
}

@media screen and (max-width: 1130px) {

  .login__plus{
    position: absolute;
    z-index: 1;
    left: 50px;
    top:500px;
}
.login__light{
    position: absolute;
    z-index: 1;
    left: 0px;
    top:50px
}
.login-container input{
  width: 70%;
  margin-bottom: 25px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  height: 45px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
}
}

@media screen and (max-width: 785px) {

  .login__plus{
    position: absolute;
    z-index: 1;
    left: 50px;
    top:500px;
}
.login__light{
    position: absolute;
    z-index: 1;
    left: -300px;
    top:50px
}
.login-container input{
  width: 80% ;
  margin-bottom: 25px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  height: 45px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
}
}
@media screen and (max-width: 375px) {

  .login__plus{
    position: absolute;
    z-index: 1;
    left: 50px;
    top:500px;
}
.login__light{
    position: absolute;
    z-index: 1;
    left: -700px;
    top:-20px
}
.login-container input{
  width: 100%;
  margin-bottom: 25px;
  border-style: none;
  background-color: #F1F1F1;
  border-radius: 8px;
  height: 45px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px; 
}
}